.custom-hr {
    background-color: black;
    height: 1px;
    margin: 7px 0px 7px 0px;
}

.post-hr {
    background-color: darkgray;
    height: 1px;
    margin: 7px 0px 7px 0px;
}

.margin-bottom-1em {
    margin-bottom: 1em;
}

.margin-top-1em {
    margin-top: 1em;
}

.background-whitesmoke {
    background-color: whitesmoke;
}

.categories-width-fill
{
    width: 100%;
    height: auto;
}

.max-width-200px {
    max-width: 200px;
}

.background-transparent {
    background-color: transparent;
}

.color-black {
    color: black;
}

.max-width-250px {
    max-width: 250px;
}

.max-width-150px {
    max-width: 150px;
}

.display-table-row {
    display: table-row;
}

.scale-hover:hover {
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

.ui-dialog > .ui-widget-header {
    background: #4F4F4F;
    border-color: #4F4F4F;
}

.custom-table th {
    text-align: center;
}

.custom-table td {
    vertical-align: baseline!important;
}

.width-auto {
    width: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.display-none {
    display: none!important;
}