.background-whiteblue {
    background-color: #E4EAF2;
}

.padding-top10 {
    padding-top: 10px;
}

.padding-bottom10 {
    padding-bottom: 10px;
}

.padding-top30 {
    padding-top: 30px;
}

.padding-bottom30 {
    padding-bottom: 30px;
}

.padding-top15 {
    padding-top: 15px;
}

.padding-bottom15 {
    padding-bottom: 15px;
}

.padding-bottom5 {
    padding-bottom: 5px;
}

.padding-top5 {
    padding-top: 5px;
}

.width-auto {
    width: auto;
}